@import jeet;

*, html, body
  margin 0
  padding 0
  font-size small
body
  overflow hidden
li, ul
  list-style none
  padding 0
  margin 0
nav
  height 5vh
  background indigo
  color white
  font-size large
  position static
  width 100vw

.message-partial
  background white
  color black
  border 1px solid black
  padding 15px 17px
  margin 1px
  float left
  clear both
  max-width 55%
  overflow auto
.message-partial.message-owner
  background black
  color white
  float right
  clear both

.barf-show
  span(2/4)
  shift(1/4)
  height 95vh
  overflow hidden

.barf-title
  font-size large
  background gray
  padding 1vw 1vh
  height 3vh
  overflow hidden

.barf-messages
  height 80vh
  overflow auto
  display block

.barf-input
  display block
  border 1px solid
  position static
  overflow auto
  height 9vh
form.new-message
  width 100%
textarea.new-body
  span(2/4)
  border none
  resize none
  outline none
  height 9vh
  width 100%
